{% extends 'base.html' %}
{% block content %}

<style>
     <style>
    .bs-example{
        margin: 20px;
    }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

</style>

 <div>

          <div class="card table-responsive">
            <div class="card-body ">
                {% if messages %}
                    {%for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            <ul class="messages">
                                <li class="text-center">{{ message }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
              <h5 class="card-title">Student List</h5>

              <!-- Table with stripped rows -->
              <table class="table table-striped " width="100%">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Age</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Created_at Date</th>
                    <th scope="col"> </th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in user %}
                          <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{i.student.name}}</td>
                            <td>{{i.student.email}}</td>
                            <td>{{i.student.dob}}</td>
                            <td>{{i.student.get_age}}</td>
                            <td>{{i.student.phone}}</td>
                            <td>{{i.student.created_at.date}}</td>
                            </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>


            <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' request.user.id %}">


   </div>

{% endblock %}
