<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Login</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% load static %}

  <!-- Favicons -->
  <link href="{% static 'img/logo.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
      <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }

}

  </style>

</head>
<body>
  <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <div class="container py-4">
    <div class="row g-0 mt-5">
      <div class="col-lg-4 mt-5 me-5 mb-3 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 ">
            <h2 class="fw-bold mb-5">Sign in now</h2>
             {% if messages %}
                    {%for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            <ul class="messages">
                                <li class="text-center">{{ message }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
            <form  action="{% url 'login' %}" method="POST" class="row g-3 needs-validation"> {% csrf_token %}

              <!-- Email input -->
                  <div class="form-outline mb-4">
                      <label class="form-label">Email</label>
                      <div class="input-group has-validation">
<!--                        <span class="input-group-text" id="inputGroupPrepend">@</span>-->
                        <input type="text" name="email" class="form-control" id="yourUsername" required>
                      </div>
                  </div>
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                      <label class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" required/>
                  </div>
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Log In
                  </button>

             </form>
           </div>
        </div>
      </div>

      <div class="col-lg-6 ms-5  mb-5 mb-lg-0" id="display">
        <img src="{% static 'img/login.png' %}"  class="w-100 rounded-4 shadow-4"
          alt="" height="600"/>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<input type="text" id="msg" value="{{ msg }}" hidden><!-- Section: Design Block -->
<script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/chart.js/chart.min.js' %}"></script>
<script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
<style>
    @media only screen and (max-width: 800px) {
        #display {
            display:none;
        }

    }
</style>
</body>
</html>