{% extends 'base.html' %}
{% block content %}

          <div class="card">
            <div class="card-body">
               {% if messages %}
                    {%for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            <ul class="messages">
                                <li class="text-center">{{ message }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
              <h5 class="card-title">User Add</h5>

              <!-- Multi Columns Form -->

              <form action="{% url 'student_add' %}" method="POST" class="row g-3"> {% csrf_token %}
                    <div class="col-md-12">
                        <label class="form-label">Your Name</label>
                        <input type="text" class="form-control"  name="u_name" required>
                    </div>
                    <div class="col-md-6">
                         <label class="form-label">User Type</label>
                         <select name="user_type" style="width: 100%; border: 1px solid #e0e4e6; padding: 10px 15px; display: block;" required>
                            <option value="">Select</option>
                            <option value="2">Student</option>

                      </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" name="u_email" required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="u_password" required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" name="u_crmPassword" required>
                    </div>
                    <div class="col-md-6">
                        <label  class="form-label">Mobile Number</label>
                        <input type="number" class="form-control" name="u_phone" maxlength="10" placeholder=""  pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">DOB</label>
                        <input type="date" class="form-control" name="u_dob" required>
                    </div>
                    <div class="col mt-6">
                      <label for="photo">*Upload Image: </label>
                      <input class="form-control" type="file" accept="image/*" name="photo" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </div>
              </form><!-- End Multi Columns Form -->

            </div>
          </div>

        </div>
{% endblock %}