{% extends 'base.html' %}
{% block content %}

<style>
     <style>
    .bs-example{
        margin: 20px;
    }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

</style>

 <div>

          <div class="card table-responsive">
            <div class="card-body ">
                {% if messages %}
                    {%for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            <ul class="messages">
                                <li class="text-center">{{ message }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
              <h5 class="card-title">Users List</h5>

              <!-- Table with stripped rows -->
              <table class="table table-striped " width="100%">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Total Mark</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in user %}
                          <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{i.student.name}}</td>
                            <td>{{i.student.email}}</td>
                            <td ><span>{{i.mark}}</span><br/>
                            <button type="button" class="btn btn-success rounded-pill addmark btn-sm" data-studentid="{{i.student.id}}" data-mark="{{i.mark}}">Add</button></td>

                            <td><button type = "button" class ="btn btn-success rounded-pill btn-sm btn_edit btn-sm" data-studentid="{{i.student.id}}" data-name="{{i.student.name}}" data-email="{{i.student.email}}" data-mobile_no="{{i.student.phone}}"><i class ="ri-edit-box-line"></i></button></td>
                            <td><a href="{% url 'user_delete' i.student.id %}">
                                <button type="button" class="btn btn-danger rounded-pill btn-sm"><i class="ri-delete-bin-line"></i></button>
                                </a>
                            </td>
                          </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>
 <div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Mark</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

         <form action="{% url 'add_mark' %}" method="POST"> {% csrf_token %}
                <div class="modal-body">
                     <input name="student_id" id="student_id" value ="" hidden>
                     <label><strong>Enter Fund  :  </strong></label>
                     <input type="number" name="mark" id="mark" value="">

                 </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
         </form>
        </div>
    </div>
</div>



<div id="editModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Student Details</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

         <form action="{% url 'edit_user' %}" method="POST"> {% csrf_token %}
                <div class="modal-body">
                    <input name="studentid" id="studentid" value ="" hidden>
                    <div class="col-md-12">
                        <label class="form-label">Your Name</label>
                        <input type="text" class="form-control"  name="name" id="name" value="" required>
                    </div>
                     <div class="col-md-6">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email" value="" required>
                    </div>
                     <div class="col-12">
                        <label  class="form-label">Mobile Number</label>
                        <input type="number" id="mobile_no" class="form-control" name="mobile_no" maxlength="10" placeholder=""  pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" value="" required>
                    </div>
                 </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
         </form>
        </div>
    </div>
</div>

<script>

    var status = null;

    $(document).ready(function(){
        $(".addmark").on('click', function(){
        student_id = $(this).data('studentid');
        mark = $(this).data('mark');
        $('#student_id').val(student_id);
        $('#mark').val(mark);
        $("#myModal").modal('show');
        });

        $(".close").on('click', function(){
        $("#myModal").modal('hide');
        });
    });

    //$("#status").change(function() {
    //    value = this.value

    //});
</script>
<script>
    $(document).on("click",".btn_edit", function () {
        name = $(this).data('name');
        email = $(this).data('email');
        mobile_no = $(this).data('mobile_no');
        studentid = $(this).data('studentid');
        $('#studentid').val(studentid);
        $('#name').val(name);
        $('#email').val(email);
        $('#mobile_no').val(mobile_no);
        $("#editModal").modal('show');

       $(".close").on('click', function(){
        $("#editModal").modal('hide');
        });
    });
</script>


{% endblock %}